<section>
  <audio controls autoplay>
    <source src="{{baseURL}}/stream" type="{{contentType}}" />
  </audio>
  <ul id="trackDetails">

  </ul>
  <p>
    Streaming at:
    <a href="{{baseURL}}/stream">{{streamURL}}/stream</a>
  </p>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/socket.js"></script>
</section>